<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lite Scheduler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/bootstrap@5.0.2/bootstrap.min.css}" rel="stylesheet" />
	<script th:src="@{/bootstrap@5.0.2/bootstrap.bundle.min.js}"></script>
	<link th:href="@{/bootstrap-icons@1.9.0/bootstrap-icons.css}" rel="stylesheet" />
	<link th:href="@{/lite-scheduler-lib.css}" rel="stylesheet" />
	<script th:src="@{/lite-scheduler-lib.js}"></script>
	<script th:inline="javascript">

		DocumentUtils.ready(() => {

			ElementUtils.cronTimeSelections({
				month: {
					dom: document.getElementById("scheduleTimeMonth"),
					value: -1
				},
				day: {
					dom: document.getElementById("scheduleTimeDay"),
					value: -1
				},
				hour: {
					dom: document.getElementById("scheduleTimeHour"),
					value: -1
				},
				minute: {
					dom: document.getElementById("scheduleTimeMinute"),
					value: -1
				},
				second: {
					dom: document.getElementById("scheduleTimeSecond"),
					value: -1
				},
			})


		});


		function save() {
			let validated = myForm.checkValidity();
			myForm.classList.add('was-validated');

			if (validated) {
				let formData = {
					id: myForm.scheduleId.value,
					name: myForm.scheduleName.value,
					month: myForm.scheduleTimeMonth.value,
					day: myForm.scheduleTimeDay.value,
					hour: myForm.scheduleTimeHour.value,
					minute: myForm.scheduleTimeMinute.value,
					second: myForm.scheduleTimeSecond.value,
					description: myForm.scheduleDescription.value
				};
				HttpUtils.doPost({
					url: "insertSchedule",
					data: formData,
					success: (data) => {
						if (data.succeeded) {
							PromptUtils.success(data.message);
							DialogUtils.closeWindow(window);
						} else {
							PromptUtils.error(data.message);
						}
					}
				});
			}
		}
	</script>
</head>

<body>

	<div class="container-fluid p-3">

		<div class="row p-3">
			<form name="myForm" novalidate>
				<table class="table table-borderless">
					<tr>
						<td>
							<div class="input-group has-validation">
								<span class="input-group-text">排程代號</span>
								<input name="scheduleId" type="text" class="form-control" required>
							</div>
						</td>
						<td>
							<div class="input-group has-validation">
								<span class="input-group-text">排程名稱</span>
								<input name="scheduleName" type="text" class="form-control" required>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="input-group">
								<span class="input-group-text">排程時間</span>
								<select class="form-select text-center" id="scheduleTimeMonth"
									name="scheduleTimeMonth"></select>
								<label class="input-group-text" for="scheduleTimeMonth">月</label>

								<select class="form-select text-center" id="scheduleTimeDay"
									name="scheduleTimeDay"></select>
								<label class="input-group-text" for="scheduleTimeDay">日</label>

								<select class="form-select text-center" id="scheduleTimeHour"
									name="scheduleTimeHour"></select>
								<label class="input-group-text" for="scheduleTimeHour">時</label>

								<select class="form-select text-center" id="scheduleTimeMinute"
									name="scheduleTimeMinute"></select>
								<label class="input-group-text" for="scheduleTimeMinute">分</label>

								<select class="form-select text-center" id="scheduleTimeSecond"
									name="scheduleTimeSecond"></select>
								<label class="input-group-text" for="scheduleTimeSecond">秒</label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="input-group">
								<span class="input-group-text">排程描述</span>
								<textarea name="scheduleDescription" class="form-control" required></textarea>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="row p-3">
			<div class="col">
				<button onClick="save()" type="button" class="btn btn-success float-end">
					<i class="bi bi-save"></i>
				</button>
			</div>
		</div>
	</div>

</body>

</html>