<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lite Scheduler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/resources/bootstrap@5.0.2/bootstrap.min.css}" rel="stylesheet" />
	<script th:src="@{/resources/bootstrap@5.0.2/bootstrap.bundle.min.js}"></script>
	<link th:href="@{/resources/bootstrap-icons@1.9.0/bootstrap-icons.css}" rel="stylesheet" />
	<link th:href="@{/resources/lite-scheduler-lib.css}" rel="stylesheet" />
	<script th:src="@{/resources/lite-scheduler-lib.js}"></script>
	<script th:inline="javascript">
		
		const taskRowid = /*[[${rowid}]]*/ "";
		
		function save() {
			let validated = myForm.checkValidity();
			myForm.classList.add('was-validated');

			if (validated) {
				let data = {
					taskRowid: taskRowid,
					name: myForm.parameterName.value,
					data: myForm.parameterData.value,
					description: myForm.parameterDescription.value,
				};
				HttpUtils.doPost({
					url: "createTaskParameter",
					data: data,
					success: (returnVal) => {
						if (returnVal.succeeded) {
							PromptUtils.success(returnVal.data);
							DialogUtils.closeWindow(window);
						} else {
							PromptUtils.error(returnVal.data);
						}
					},
					error: (response) => {
						PromptUtils.error(response.data);
					}
				});
			}
		}
		
	</script>
</head>

<body>

	<div class="container-fluid p-3">
		<div class="row p-3">
			<form name="myForm">
				<table class="table table-borderless">
					<tr>
						<td>
							<div class="input-group">
								<span class="input-group-text">參數名稱</span>
								<input name="parameterName" type="text" class="form-control" required>
								<div class="invalid-tooltip">
									「參數名稱」不能為空
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="input-group has-validation">
								<span class="input-group-text">參數數值</span>
								<input name="parameterData" type="text" class="form-control" required>
								<div class="invalid-tooltip">
									「參數數值」不能為空
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="input-group">
								<span class="input-group-text">參數描述</span>
								<textarea name="parameterDescription" class="form-control"></textarea>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="row p-3">
			<div class="col">
				<button onClick="save()" type="button" class="btn btn-success float-end">
					<i class="bi bi-save"></i>
				</button>
			</div>
		</div>
	</div>

</body>

</html>