<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lite Scheduler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/resources/bootstrap@5.0.2/bootstrap.min.css}" rel="stylesheet" />
	<script th:src="@{/resources/bootstrap@5.0.2/bootstrap.bundle.min.js}"></script>
	<link th:href="@{/resources/bootstrap-icons@1.9.0/bootstrap-icons.css}" rel="stylesheet" />
	<link th:href="@{/resources/lite-scheduler-lib.css}" rel="stylesheet" />
	<script th:src="@{/resources/lite-scheduler-lib.js}"></script>
	<script th:inline="javascript">
		
		const rowid = /*[[${rowid}]]*/ "";
		
		DocumentUtils.ready(() => {
			doQuery();
		});
		
		function doQuery(){
			HttpUtils.doPost({
				url: "qryTaskHistoryMessage",
				data: {rowid},
				success: (response) => {
					document.getElementById("message").innerHTML = response.data
				}
			});
		}
		
	</script>
</head>

<body>

	<div class="container-fluid p-3">
		<p id="message"></p>
	</div>

</body>

</html>