.prompt {
	width: 50vw;
	position: fixed;
	top: 10px;
	left: 25vw;
}

.page-link.actived{
	background: #7a7aff !important;
	color: white !important;
}

.modal-footer-between {
    justify-content: space-between;
}

.modal-footer-center {
    justify-content: center;
}

.modal-window {
	max-width: 80vw;
}

.modal-body-window {
	min-height: 80vh;
}

.modal-window-iframe {
	width: 100%;
	height: 100%;
	overflow: auto;
	border: 0px;
	position: absolute;
	top:0px;
	left: 0px;
}

.none-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable:hover {
  cursor: pointer;
}