<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="project">lite-scheduler</Property>
		<Property name="date">%d{yyyy-MM-dd}</Property>
		<Property name="destination">${sys:lite.scheduler.work.dir}/logs</Property>
		<Property name="pattern.web">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] (%F:%M:%L) - %m%n</Property>
		<Property name="pattern.scheduler">[%d{yyy-MM-dd HH:mm:ss.SSS}] [%p] [%X{scheduleId}] (%F:%M:%L) - %m%n</Property>
	</Properties>

	<Appenders>
	
		<Routing name="ConsoleLogRouting">
			<Routes pattern="${ctx:scheduleId}">
				<Route key="${ctx:scheduleId}"> <!-- 當key有值時 因為沒有設定 RoutingInit 所以不會使用此 Route 的 Appender -->
					<Console name="WebConsoleLogRouting" target="SYSTEM_OUT">
						<PatternLayout>
							<Pattern>${pattern.web}</Pattern>
						</PatternLayout>
					</Console>
				</Route>
				<Route>
					<Console name="SchedulerConsoleLogRouting" target="SYSTEM_OUT">
						<PatternLayout>
							<Pattern>${pattern.scheduler}</Pattern>
						</PatternLayout>
					</Console>
				</Route>
			</Routes>
		</Routing>
		
		<Routing name="FileLogRouting">
			<Routes pattern="${ctx:scheduleId}">
				<Route key="${ctx:scheduleId}"> <!-- 當key有值時 因為沒有設定 RoutingInit 所以不會使用此 Route 的 Appender -->
					<RollingFile name="WebFileLogRouting"
						immediateFlush="true"
						fileName="${destination}/${project}.log"
						filePattern="${destination}/${project}.${date}.log">
						<PatternLayout>
							<Pattern>${pattern.web}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy />
						</Policies>
						<DefaultRolloverStrategy>
							<Delete basePath="${destination}/" maxDepth="1">
								<IfLastModified age="P30D" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
				<Route>
					<RollingFile name="SchedulerFileLogRouting" 
						immediateFlush="true"
						fileName="${destination}/scheduler/${ctx:scheduleId}.log" 
						filePattern="${destination}/scheduler/${ctx:scheduleId}.${date}.log">
						<PatternLayout>
							<Pattern>${pattern.scheduler}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy />
						</Policies>
						<DefaultRolloverStrategy>
							<Delete basePath="${destination}/scheduler/" maxDepth="1">
								<IfLastModified age="P30D" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>   
		
	</Appenders>

	<Loggers>

		<Root level="INFO">
			<AppenderRef ref="ConsoleLogRouting" />
			<AppenderRef ref="FileLogRouting" />
		</Root>

	</Loggers>
	
</Configuration>