<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<!-- =============Spring Data JPA================== -->
	
	<!-- TransactionManager 與 DataSource 的宣告範例 -->
	<!-- 注意： TransactionManager 的 id 不能是 "transactionManager"，必須是其他名稱，例如："mysqlTransactionManager"  -->
	<jpa:repositories base-package="com.custom.repo" entity-manager-factory-ref="mysql_jpa_xml_EntityManagerFactory" transaction-manager-ref="mysql_jpa_xml_TransactionManager"/>

    <bean id="mysql_jpa_xml_TransactionManager" p:entityManagerFactory-ref="mysql_jpa_xml_EntityManagerFactory" class="org.springframework.orm.jpa.JpaTransactionManager"/>
	 
	<bean id="mysql_jpa_xml_EntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="mysql_jpa_xml_DataSource" />
        <property name="packagesToScan" value="com.custom.entity" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
        	<props>
        		<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
        		<prop key="hibernate.format_sql">false</prop>
        		<prop key="hibernate.show_sql">false</prop>
        		<prop key="hibernate.hbm2ddl.auto">update</prop>
        	</props>
        </property>
    </bean>
	
	<bean id="mysql_jpa_xml_DataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
		<property name="maxTotal" value="100"/>
	    <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
	    <property name="maxConnLifetimeMillis" value="14400000"/>
		<property name="timeBetweenEvictionRunsMillis" value="600000"/>
	    <property name="removeAbandonedTimeout" value="60"/>
	    <property name="minEvictableIdleTimeMillis" value="600000"/>
	    <property name="removeAbandonedOnBorrow" value="true" />
        <property name="removeAbandonedOnMaintenance" value="true" />
	</bean>
	
	 
</beans>