<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- =============Spring Data MyBatis================== -->
	
	<!-- TransactionManager 與 DataSource 的宣告範例 -->
	<!-- 注意： TransactionManager 的 id 不能是 "transactionManager"，必須是其他名稱，例如："mysqlTransactionManager"  -->
	<bean id="mysql_mybatis_xml_TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="mysql_mybatis_xml_DataSource" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="com.custom.mybatis.mapper" />
	    <property name="sqlSessionFactoryBeanName" value="mysql_mybatis_xml_SqlSessionFactory" />
	</bean>
	
	<bean id="mysql_mybatis_xml_SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	    <property name="dataSource" ref="mysql_mybatis_xml_DataSource" />
	    <property name="configLocation" value="classpath:mybatis-config.xml" />
	    <property name="mapperLocations"> <!-- mybats sql xml 存放路徑 -->
			<list>
				<value>classpath:mybatis-mapper/*.xml</value>
				<value>classpath:mybatis-mapper/**/*.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="mysql_mybatis_xml_SqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="mysql_mybatis_xml_SqlSessionFactory" />
	</bean>
		
	<bean id="mysql_mybatis_xml_DataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
		<property name="maxTotal" value="100"/>
	    <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
	    <property name="maxConnLifetimeMillis" value="14400000"/>
		<property name="timeBetweenEvictionRunsMillis" value="600000"/>
	    <property name="removeAbandonedTimeout" value="60"/>
	    <property name="minEvictableIdleTimeMillis" value="600000"/>
	    <property name="removeAbandonedOnBorrow" value="true" />
        <property name="removeAbandonedOnMaintenance" value="true" />
	</bean>
	 
</beans>